@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
::selection{
    background-color:#1a191f;
    color: #fff;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
  
  .btn:hover {
    background: #10221b;
    color: #fff;
  }
  
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #1a191f;
}

section {
  padding: 5rem 9%;
}
:root{
    --primary-color: #f9ab00;
    --box-shadow: .5rem .5rem  0 #10221b;
    --border: .2rem  solid #10221b;
}

.heading {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding-top: 0rem;
    font-size: 4rem;
    color: #10221b;
    margin-top: 2rem;
}


/* Navbar Section Starts  */

header {
  padding: 1rem 10%;
  background-color: #1a191f;
}
 
 
.dropdown-item{
  text-decoration: underline #f9ab00;
}
header .navbar-brand span{
  color: var(--primary-color);
}
header .navbar-brand{
  font-size: 2.5rem;
  color: #fff;
}

header .navbar-nav li a{
  color: #fff !important;
  text-align: center;
  font-size: 2rem;
}

.fa-bars{
  color: #fff ;
  font-size: 2rem !important;
}

.navbar-toggler{
  outline: none !important;
}

.dropdown-menu{
  width: 21rem;
  background-color: #1a191f;
  margin: auto;
  border: 2px solid #f9ab00;
}
.dropdown-item:hover{
  background-color: #000;
}
.nav-link{
  text-decoration: underline #f9ab00;
}
/* Navbar Section Ends  */
/* Contact Us SEctions starts  */
.contact .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
  }
  
  .contact .icons-container .icons {
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50%;
  }
  
  .contact .icons-container .icons h3 {
    color: #222;
    font-size: 2rem;
    padding: 1rem 0;
  }
  
  .contact .icons-container .icons p {
    color: #666;
    font-size: 1.5rem;
    line-height: 2;
  }
  
  .contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .contact .row form {
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .contact .row form h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: #222;
  }
  
  .contact .row form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .contact .row form .inputBox input {
    width: 49%;
  }
  
  .contact .row form .inputBox .box,
  .contact .row form textarea {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
    text-transform: none;
    margin: .7rem 0;
  }
  
  .contact .row form textarea {
    width: 100%;
    height: 15rem;
    resize: none;
  }
  
  .contact .row .map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    width: 100%;
  }

@media screen and (max-width: 281px) {
  .contact .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
  }
}
/* Contact Us SEctions Ends */

/* Footer Section Starts  */
.footer {
  background: #f3f3f3;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding-bottom: .5rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--primary-color);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: var(--primary-color);
}

.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #222;
  margin: 1rem 0;
  text-transform: none;
}

.footer .box-container .box .payment {
  width: 100%;
  margin-top: 2rem;
}

.credit {
  background: var(--primary-color);
  color: #fff;
  font-size: 2rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Section Ends */

/* Faq Section Starts  */
.wrapper {
  max-width: 90rem;
  margin: 50px auto;
  padding: 2rem 9%;
}

.wrapper .faq-1{
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.wrapper .faq-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.wrapper .search:hover,
.wrapper .search:focus-within {
  border: 1px solid transparent;
  box-shadow: 2px 5px 8px #1f1f1f10, 0px -4px 5px #1f1f1f10
}

.wrapper .search .form-control {
  box-shadow: none;
  outline: none;
  border: none
}

.wrapper .search .form-control:focus::placeholder {
  opacity: 0;
}

.wrapper .accordion-button {
  font-size: 1.7rem;
  font-weight: normal;
}

.wrapper .accordion-button:hover {
  background-color: #eee;
}

.wrapper .accordion-button:focus {
  box-shadow: none
}

.wrapper .accordion-button::after {
  background-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
  background-position: center center;
  border-radius: 50%
}

.wrapper .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f7f7f7;
  font-weight: normal;
  border-bottom: 1px solid #ddd !important
}

.accordion-button:not(.collapsed)::after {
  border-color: #1E88E5
}

.wrapper .accordion-button.collapsed {
  border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse.show {
  border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse {
  background-color: #eaf3fa
}

.wrapper .accordion-collapse ul li {
  line-height: 2rem;
  width: 100%;
  padding: 0.5rem 1.3rem;
}

.wrapper .accordion-collapse ul li:hover {
  background-color: #c9e7ff
}

.wrapper .accordion-collapse ul li a {
  text-decoration: none;
  color: #333;
  font-size:1.5rem;
  font-weight: 400;
  display: block;
}

.wrapper .accordion-collapse ul li:hover a {
  color: #222;
}

@media (max-width: 777px) {
  .wrapper {
      margin: 50px 20px
  }
}

@media (max-width: 365px) {
  .wrapper {
      margin: 50px 10px
  }

  .w-75 {
      width: 90% !important
  }
}
/* Faq Section Ends */