/* Google Fonts: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: 0.2s ease-in;
}
:root{
  --primary-color: #f9ab00;
  --box-shadow: .5rem .5rem  0 #10221b;
  --border: .2rem  solid #10221b;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}
.popular{
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-top: 0rem;
  font-size: 4rem;
  color: #10221b;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  
}
::selection{
    background-color:#1a191f;
    color: #fff;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1a191f;
}



html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #000;
}
/* Navbar Section Starts  */
header nav{
  padding: 1rem 10%;
  background-color: #1a191f;
  height: 8rem;
}
 
 

header .navbar-brand span{
  color: var(--primary-color);
}
header .navbar-brand{
  font-size: 2.5rem;
  color: #fff;
}

header .navbar-nav li a{
  color: #fff !important;
  text-align: center;
  font-size: 2rem;
}

.fa-bars{
  color: #fff ;
  font-size: 2rem !important;
}

.navbar-toggler{
  outline: none !important;
}

.dropdown-menu{
  width: 21rem;
  background-color: #1a191f;
}
.dropdown-item:hover{
  background-color: #000;
}
/* Navbar Section Ends  */
/* Cuisines Section Starts  */
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .popular .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 30rem;
    position: relative;
  }
  
  .popular .box-container .box img{
    height:25rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
  }
  
  .popular .box-container .box .price{
    position: absolute;
    top:3rem; left:3rem;
    background:var(--primary-color);
    color:#fff;
    font-size: 2rem;
    padding:.5rem 1rem;
    border-radius: .5rem;
  }
  
  .popular .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding-top: 1rem;
  }
  
  
  /* Cuisines Section Ends */