/* Google Fonts: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: capitalize;
}

::selection{
    background-color:#1a191f;
    color: #fff;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1a191f;
}



html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #000;
}

/* Navbar Section Starts  */

header{
  padding: 1rem 5%;
  background-color: #1a191f;
}
 

header .navbar-brand span{
  color: #f9ab00;
}
header .navbar-brand{
  font-size: 1.5rem;
  color: #fff;
}

header .navbar-nav li a{
  color: #fff !important;
  text-align: center;
}

.fa-bars{
  color: #fff ;
  font-size: 1.5rem !important;
}

.navbar-toggler{
  outline: none !important;
}










/* Navbar Section Ends  */

/* home section starts  */

.home{
  height: 95vh;
}
.home #list1{
  /* background: rgba(209, 137, 137, 0.7) url(https://preview.colorlib.com/theme/montana/img/banner/xbanner.png.pagespeed.ic.Fz8_Hc8pX8.jpg); */
  background: rgba(74, 123, 126, 0.7) url(https://i.postimg.cc/GmfKDmXb/h1-hero.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center center;
}


.home .item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  height: 95vh;
  padding: 0rem 9%; 
}

.home .item .content h1{
  font-size: 3.5rem;
  padding-top: 2rem;
  text-align: center;
}

.home .item .content h1 span{
  color: #f9ab00;
}
.home .item .content p{
  font-size: 1.2rem;
  padding: 1rem 0;
  padding-bottom: 2rem;
  max-width: 50rem;
  text-align: center;

}

.home .item .buttons{
  height: 5rem;
  text-align: center;
}
.home .item .content .home-btn1{
  padding: 0.8rem 2.5rem;
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  font-size: 1rem;
  border-radius: 2rem;
  transition: 0.2s linear;
  text-decoration: none;
}
.home .item .content .home-btn1:hover{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.home .item .content .home-btn2{
  padding: 0.8rem 3rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border-radius: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}

/* Media Quries */
@media (max-width: 450px){
  
  .home .item .content h1{
    font-size: 2rem;
  }
  
  .home .item .content p{
    font-size: 1rem;
  }
  

  .home .item .content .home-btn1{
    padding: 0.8rem 2rem;
    font-size: 0.8rem;

  }
  .home .item .content .home-btn2{
    padding: 0.8rem 2rem;
    font-size: 0.8rem;

  }
}

@media (max-width: 328px){
  
  .home .item .content .buttons{
    display: flex;
    flex-direction: column;
  }

  .home .item .content .home-btn2{
    margin-top: 1rem;  
    padding: 0.8rem 1rem;
  }

}
