/* Google Fonts: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: 0.2s ease-in;
}
:root{
  --primary-color: #f9ab00;
  --box-shadow: .5rem .5rem  0 #10221b;
  --border: .2rem  solid #10221b;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}
.covid{
  padding: 2rem 9%;
}
.gallery{
  padding: 2rem 9%;
}
.popular{
  padding: 2rem 9%;
}
.footer{
  padding: 2rem 9%;
}
.services{
  padding: 2rem 9%;
}
.rooms{
  padding: 2rem 9%;
}
.hotel{
  padding: 2rem 9%;
}
.pricing{
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 4rem;
  color: #10221b;
  margin-top: 5rem;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  
}
::selection{
    background-color:#1a191f;
    color: #fff;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1a191f;
}



html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #000;
}

/* Navbar Section Starts  */


header {
  padding: 1rem 10%;
  background-color: #1a191f;
}
 

header .navbar-brand span{
  color: var(--primary-color);
}
header .navbar-brand{
  font-size: 2.5rem;
  color: #fff;
}

header .navbar-nav li a{
  color: #fff !important;
  text-align: center;
  font-size: 2rem;
}

.fa-bars{
  color: #fff ;
  font-size: 2rem !important;
}

.navbar-toggler{
  outline: none !important;
}
.nav-link{
  text-decoration: underline #f9ab00;
}

.dropdown-menu{
  width: 21rem;
  background-color: #1a191f;
}
.dropdown-item:hover{
  background-color: #000;
}



@media screen and (max-width: 988px) {
  header {
    padding: 1rem 10%;
    background-color: #1a191f;
  }
}



/* Navbar Section Ends  */

/* home section starts  */

.home{
  height: 100vh;
}
.home #list1{
  background: rgba(74, 123, 126, 0.7) url(https://i.postimg.cc/GmfKDmXb/h1-hero.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center center;
}


.home .item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  height: 100vh;
  padding: 0rem 9%; 
  padding-top: 9rem;
}

.home .item .content h1{
  font-size: 6rem;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
}

.home .item .content h1 span{
  color: var(--primary-color);
}
.home .item .content p{
  font-size: 2rem;
  padding: 1rem 0;
  padding-bottom: 2rem;
  max-width: 70rem;
  color: #fff;
  text-align: center;
  margin: auto;

}

.home .item .buttons{
  height: 5rem;
  text-align: center;
}
.home .item .content .home-btn1{
  padding: 0.8rem 2.5rem;
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  font-size: 2rem;
  border-radius: 2rem;
  transition: 0.2s linear;
  text-decoration: none;
}
.home .item .content .home-btn1:hover{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.home .item .content .home-btn2{
  padding: 0.8rem 3rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  border-radius: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}

/* Media Quries */
@media (max-width: 450px){
  
  .home .item .content h1{
    font-size: 4rem;
  }
  
  .home .item .content p{
    font-size: 1.8rem;
  }
  

  .home .item .content .home-btn1{
    padding: 0.8rem 2rem;
    font-size: 1.5rem;

  }
  .home .item .content .home-btn2{
    padding: 0.8rem 2rem;
    font-size: 01.5rem;

  }
}

@media (max-width: 328px){
  
  .home .item .content .buttons{
    display: flex;
    flex-direction: column;
  }

  .home .item .content .home-btn2{
    margin-top: 1rem;  
    padding: 0.8rem 1rem;
  }

}


/* Service Section Starts  */

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box{
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}


.services .box-container .box i{
  color: var(--primary-color);
  font-size: 5rem;
  padding-bottom: .5rem;
}
.services .box-container .box h3{
  color: #000;
  padding: 1rem 0;
  font-size: 2rem ;
}

.services .box-container .box p{
  color: #000;
  line-height: 2;
  font-size: 1.4rem;
}

.services .heading span{
  color: var(--primary-color);
}

/* Media Quries */
@media screen and (max-width: 392px) {
  .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 2rem;
  }
  
}

/* Service Section Ends */
/* Covid 19 Measures Starts  */
.covid .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.covid .box-container .image{
  flex: 1 1 45rem;
  overflow: hidden;
  border-radius: .5em;
  border: 5px solid rgba(255, 255, 255, .05);
}


.covid .box-container .image img{
  width: 100%;
  border-radius: 2rem;
  transition: 0.5s linear;
  margin: 0 auto;
}



.covid .box-container .content{
  flex: 1 1 45rem;
}


.covid .box-container .content h1{
  font-size: 4rem;
  padding: 1rem 0;
  color: #000;
}



.covid .box-container .content p{
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #000;
}


@media screen and (max-width: 375px) {
  .covid .box-container .content h1{
    font-size: 3rem;
  }
  
  
  
  .covid .box-container .content p{
    font-size: 1.7rem;
  }
}

/* Covid 19 Measures Ends */
/* Cuisines Section Starts  */
.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.popular .box-container .box{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}

.popular .box-container .box img{
  height:25rem;
  object-fit: cover;
  width:100%;
  border-radius: .5rem;
}

.popular .box-container .box .price{
  position: absolute;
  top:3rem; left:3rem;
  background:var(--primary-color);
  color:#fff;
  font-size: 2rem;
  padding:.5rem 1rem;
  border-radius: .5rem;
}

.popular .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}


/* Cuisines Section Ends */
/* Steps Section Starts  */
.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
}

.steps .box{
  flex:1 1 25rem;
  padding:1rem;
  text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 3rem;
  color:#333;
  padding:1rem;
}
/* Steps Section Ends */

/* Around The hotel section starts  */
.rooms .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.rooms .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.rooms .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.rooms .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.rooms .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rooms .box-container .box .content {
  padding: 2rem 1.5rem;
}


.rooms .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #222;
}

.rooms .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

@media screen and (max-width: 332px) {
  .rooms .box-container {
      -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    }
}
/* Around The hotel section End */

/* Hotes Section Starts  */

.hotel .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 3rem 0;
}

.hotel .box-container .image{
  flex: 1 1 50rem;
  overflow: hidden;
  border-radius: .5em;
  border: 5px solid rgba(255, 255, 255, .05);
}


.hotel .box-container .image img{
  width: 100%;
  border-radius: 2rem;
  transition: 0.5s linear;
}



.hotel .box-container .content{
  flex: 1 1 45rem;
}


.hotel .box-container .content h1{
  font-size: 4rem;
  padding: 1rem 0;
  color: #000;
}



.hotel .box-container .content p{
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #000;
}

@media screen and (max-width: 375px) {
.hotel .box-container .content h1{
  font-size: 3rem;
}



.hotel .box-container .content p{
  font-size: 1.7rem;
}
}
.load-more{
  text-align: center;
  margin-top: 1rem;
}



/* Hotes Section Ends */

/* Gallery Section Starts Here  */
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  height:25rem;
  flex:1 1 35rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  background:rgba(255,255,255,.9);
  padding:2rem;
  padding-top: 10rem;
  text-align: center;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}


.gallery .box-container .box:hover .content{
  top:0;
}

/* Gallery Section Starts Ends */

/* Member Ship Section Starts  */
.pricing{
  margin-bottom: 2rem;
}
.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.pricing .box-container .box{
  background:var(--bg-color-1);
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.pricing .box-container .box h3{
  padding:1rem;
  background: var(--bg-color-2);
  border-radius: .5rem;
  font-size: 2rem;
  color:var(--text-color-1);
}

.pricing .box-container .box .price{
  padding-top: 2rem;
}

.pricing .box-container .box .price span{
  font-size: 2rem;
  color:var(--text-color-2);
}

.pricing .box-container .box .price .amount{
  font-size: 5rem;
  color:var(--text-color-1);
  font-weight: bolder;
}

.pricing .box-container .box ul{
  padding: .5rem 0;
  list-style: none;
}

.pricing .box-container .box ul li{
  padding: 1rem 0;
  font-size: 1.7rem;
  color:var(--text-color-2);
}
.pricing .box-container .box:hover{
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   margin-left: 0px;
   margin-top: 5px;
   opacity: 1;
}



@keyframes floating {
  0% { transform: translate(0, 0px);; 
  }

 50% { transform: translate(0, 20px); }
  100% { transform: translate(0, -0px);}
}

@media screen and (max-width: 392px) {
}
.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap:1.5rem;
}

/* Member Ship Section Ends */

/* Footer Section Starts  */
.footer {
  background: #f3f3f3;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding-bottom: .5rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--primary-color);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: var(--primary-color);
}

.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #222;
  margin: 1rem 0;
  text-transform: none;
}

.footer .box-container .box .payment {
  width: 100%;
  margin-top: 2rem;
}

.credit {
  background: var(--primary-color);
  color: #fff;
  font-size: 2rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Section Ends */